<%= form_with(model: leaderboard, local: true) do |form| %>
  <% if leaderboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leaderboard.errors.count, "error") %> prohibited this leaderboard from being saved:</h2>

      <ul>
      <% leaderboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_email %>
    <%= form.text_field :user_email, id: :leaderboard_user_email %>
  </div>

  <div class="field">
    <%= form.label :quiz_id %>
    <%= form.number_field :quiz_id, id: :leaderboard_quiz_id %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :leaderboard_score %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.number_field :state, id: :leaderboard_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
