<p id="notice"><%= notice %></p>

<h1 align="center"><u>Hollywood-Quiz</u></h1><br/>
<b>Ques Type : <%= @hollywood.ques_type %></b><br/><br/>

Question : <%= @hollywood.question %> 
<br/>
  <% if @hollywood.ques_type.include? "Single" %>
    <%= form_tag("/hollywoods/"+@hollywood.id.to_s, method: "get") do %>
      <table>
        <tr>
        <td><%= radio_button_tag(:option, "a") %></td>
        <td><%= label_tag(:a, "A. "+@hollywood.option1) %></td>
        </tr>
        <tr>
        <td><%= radio_button_tag(:option, "b") %></td>
        <td><%= label_tag(:b, "B. "+@hollywood.option2) %></td>
        </tr>
        <tr>
        <td><%= radio_button_tag(:option, "c") %></td>
        <td><%= label_tag(:c, "C. "+@hollywood.option3) %></td>
        </tr>
        <tr>
        <td><%= radio_button_tag(:option, "d") %></td>
        <td><%= label_tag(:d, "D. "+@hollywood.option4) %></td>
        </tr>
      </table>
      <%= submit_tag "Lock Answer", id: "lock" %><br/>
      <h3>SCORE: <%= @rec3.score %></h3>
    <% end %><br/><br/>
    <% if @hollywood.answer == params[:option] %>
      <h1><font color="green">CORRECT ANSWER</font></h1>
      <% if @hollywood.id < Hollywood.count() %>
        <h2><%= link_to "Next Question", (@hollywood.id+1).to_s %></h2>
      <% else %>
        <h2><%= link_to "Finish Quiz", "/hollywoods" %></h2>
      <% end %>
      <script type="text/javascript">
        g = document.getElementById("lock")
        g.onclick = function(){
            g.disabled = true}
      </script>
    <% elsif params[:option].present? && @hollywood.answer != params[:option] %>
      <h1><font color="red">WRONG ANSWER</font></h1>
      <% if @hollywood.id < Hollywood.count() %>
        <h2><%= link_to "Next Question", (@hollywood.id+1).to_s %></h2>
      <% else %>
        <h2><%= link_to "Finish Quiz", "/hollywoods" %></h2>
      <% end %>
      <script type="text/javascript">
        g = document.getElementById("lock")
        g.onclick = function(){
            g.disabled = true}
      </script>
    <% end %>
  
  <% elsif @hollywood.ques_type.include? "Multi" %>
    <%= form_tag("/hollywoods/"+@hollywood.id.to_s, method: "get") do %>
      <table>
        <tr>
        <td><%= check_box_tag(:option1, "a") %></td>
        <td><%= label_tag(:a, "A. "+@hollywood.option1) %></td>
        </tr>
        <tr>
        <td><%= check_box_tag(:option2, "b") %></td>
        <td><%= label_tag(:b, "B. "+@hollywood.option2) %></td>
        </tr>
        <tr>
        <td><%= check_box_tag(:option3, "c") %></td>
        <td><%= label_tag(:c, "C. "+@hollywood.option3) %></td>
        </tr>
        <tr>
        <td><%= check_box_tag(:option4, "d") %></td>
        <td><%= label_tag(:d, "D. "+@hollywood.option4) %></td>
        </tr>
      </table>
      <%= submit_tag "Lock Answer", id: "lock1" %>
      <h3>SCORE: <%= @rec3.score %></h3>
    <% end %><br/><br/>
    <% if @hollywood.answer == (params[:option1].to_s+params[:option2].to_s+params[:option3].to_s+params[:option4].to_s) %>
      <h1><font color="green">CORRECT ANSWER</font></h1>
      <% if @hollywood.id < Hollywood.count() %>
        <h2><%= link_to "Next Question", (@hollywood.id+1).to_s %></h2>
      <% else %>
        <h2><%= link_to "Finish Quiz", "/hollywoods" %></h2>
      <% end %>
      <script type="text/javascript">
        g = document.getElementById("lock1")
        g.onclick = function(){
            g.disabled = true}
      </script>
    <% elsif (params[:option1].present? || params[:option2].present? || params[:option3].present? || params[:option4].present?) && (@hollywood.answer != (params[:option1].to_s+params[:option2].to_s+params[:option3].to_s+params[:option4].to_s)) %>
      <h1><font color="red">WRONG ANSWER</font></h1>
      <% if @hollywood.id < Hollywood.count() %>
        <h2><%= link_to "Next Question", (@hollywood.id+1).to_s %></h2>
      <% else %>
        <h2><%= link_to "Finish Quiz", "/hollywoods" %></h2>
      <% end %>
      <script type="text/javascript">
        g = document.getElementById("lock1")
        g.onclick = function(){
            g.disabled = true}
      </script>
    <% end %>
  <% end %>